[submodule "src/simple_arm"]
	path = src/simple_arm
	url = https://github.com/adammalpass/simple_arm
[submodule "src/RoboND-Kinematics-Project"]
	path = src/RoboND-Kinematics-Project
	url = https://github.com/adammalpass/RoboND-Kinematics-Project.git
[submodule "src/RoboND-Perception-Project"]
	path = src/RoboND-Perception-Project
	url = https://github.com/adammalpass/RoboND-Perception-Project
[submodule "src/RoboND-Controls-Lab"]
	path = src/RoboND-Controls-Lab
	url = https://github.com/udacity/RoboND-Controls-Lab.git
